.places__content {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 80px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 960px) {
    .places__content {
        row-gap: 73px;
    }
}

@media screen and (max-width: 540px) {
    .places__content {
        row-gap: 50px;
    }
}