.page {
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    max-width: 1280px;
    background: #2A2C2F;
    color: #FFFFFF;
    margin: auto;
    padding-top: 28px;
    padding-bottom: 24px;
}

@media screen and (max-width: 540px) {
    .page {
        padding-top: 16px;
    }
}