.places {
    margin: auto;
    padding: 0 148px;
}

@media screen and (max-width: 1120px) {
    .places {
        padding: 0 48px;
    }
}

@media screen and (max-width: 960px) {
    .places {
        padding: 0 24px;
    }
}

@media screen and (max-width: 540px) {
    .places {
        min-width: 320px;
        padding: 0;
    }
}