.places__url {
    margin: 0 0 12px 0;
    font-weight: 400;
    font-size: 12px;
line-height: 170%;
color: #AAAAAA;


letter-spacing: 2px;
}

@media screen and (max-width: 960px) {
    .places__url {
        font-size: 12px;
        line-height: 12px;
    }
}

