.places__link {
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin: 0;
    transition: .5s;
    letter-spacing: 0;
}

.places__link:hover {
    opacity: .8;
}