.header {
    /* max-width: 1184px; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 48px;
}


@media screen and (max-width: 960px) {
    .header {
        padding: 0 24px;
    }
}

@media screen and (max-width: 540px) {
    .header {
        
        padding: 0 16px;
    }
}