.content {
    max-width: 1184px;
    display: flex;
    flex-direction: column;
    row-gap: 92px;
    padding-top: 56px;
    margin: auto;
    /* border: 2px solid red; */
}

@media screen and (max-width: 1120px) {
    .content {
        padding-top: 48px;
    }
}

@media screen and (max-width: 960px) {
    .content {
        padding-top: 48px;
        row-gap: 88px;
    }
}

@media screen and (max-width: 540px) {
    .content {
        min-width: 320px;
        padding-top: 48px;
        row-gap: 64px;
    }
}