.intro {
    max-width: 690px;
    padding-left: 100px;
}

@media screen and (max-width: 1120px) {
    .intro {
        padding-left: 48px;
    }
}

@media screen and (max-width: 960px) {
    .intro {
        max-width: 720px;
        margin: auto;
        padding: 0 24px;
    }
}

@media screen and (max-width: 540px) {
    .intro {
        margin: auto;
    }
}