.places__item-title {
    grid-area: title;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    margin: 0;
}

@media screen and (max-width: 960px) {
    .places__item-title {
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 540px) {
    .places__item-title {
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px;
    }
}