.places__website {
    grid-area: website;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    align-self: end;
    justify-content: start;
    margin: 0;
}

@media screen and (max-width: 540px) {
    .places__website {
        padding: 0 16px;
    }
}